.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-skills {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.bottom-skills {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.skill {
    flex: 1;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dashed var(--font-color); /* Change this to the color you want */
    border-radius: 10px; /* This will make the corners rounded */
    padding: 20px; /* Add some space between the border and the content */
    margin-bottom: 20px;
}

.Skills-section {
    background-color: var(--background-color);
    color: var(--font-color);
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

.Skills-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.centered-title {
    text-align: center;
}

