@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/cooper-hewitt.light.otf') format('opentype');
}

@font-face {
    font-family: 'Pine Forest';
    src: url('../assets/fonts/Pine Forest.otf') format('opentype');
}

.experience-item {
    border-radius: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.experience-header {
    background-color: #00726B;
    padding: 10px;
    border-radius: 10px;
}

.experience-item .accordion-button:not(.collapsed) .experience-header {
    border-bottom: none;
}

.experience-item .accordion-button .experience-header {
    border-bottom: none;
}

.experience-item{
    border: none;
    background-color: #ffffff00;
}

.accordion-button{
    padding: 20px;
    border-radius: 10px;
}

.experience-body {
    background-color: #09434C;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    padding: 30px;
}

.experience-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience-left, .experience-right {
    width: 100%;
}

@media (min-width: 768px) {
    .experience-body {
        flex-direction: row;
    }

    .experience-left, .experience-right {
        width: auto;
    }
}

.experience-header .accordion-button.accordion-button:not(.collapsed) {
    background-color: #41A378; /* Change to your preferred color */
    color: whitesmoke; /* Change to your preferred color */
}

.accordion-button{
    padding: 20px;
}

.accordion-header{
    padding: 0px;
}

.experiences-section {
    background-color: #10191E;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    width: 100vw;
    color: whitesmoke;
    font-family: 'Cooper Hewitt', sans-serif;
}

.centered-title {
    text-align: center;
    font-family: 'Pine Forest', sans-serif;
    font-size: 4em;
}

.experience-item .accordion-button {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
}

.experience-item .accordion-button:focus,
.experience-item .accordion-button:active {
    border-color: inherit;
    box-shadow: none;
    outline: none;
}

.experience-body {
    display: flex;
    justify-content: space-between;
}

.experience-left {
    flex: 4;
}

.experience-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-right img {
    max-width: 100%;
    height: auto;
}

.experience-location {
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-location .link-icon {
    margin-left: 10px;
}

.experience-location a {
    color: inherit;
    text-decoration: none;
}

.experience-location a:hover {
    color: rgb(156, 156, 217);
    text-decoration: none;
}

.experience-header {
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right {
    flex: 1;
}

.header-right {
    text-align: right;
    margin-right: 10px;
}

.experience-skills button{
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #41A378;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: whitesmoke;
    font-family: 'Cooper Hewitt', sans-serif;
}