@font-face {
    font-family: 'Cooper Hewitt';
    src: url('./assets/fonts/cooper-hewitt.light.otf') format('opentype');
}

@font-face {
    font-family: 'Pine Forest';
    src: url('./assets/fonts/Pine Forest.otf') format('opentype');
}

.courses-section {
    font-family: 'Cooper Hewitt', sans-serif;
    background: linear-gradient(to bottom, #11342E, #244635);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: whitesmoke;
}

.courses-section h2{
    text-align: center;

}


.slider {
    overflow: hidden;
    height: 200px; /* Adjust based on the height of your images */
    margin-bottom: 20px;
    position: relative;
}

.slider::before,
.slider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    pointer-events: none;
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, #11342E, transparent);
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, #11342E, transparent);
}

.slide-track-programming {
    display: flex;
    animation: scroll_programming calc(2s * 21) linear infinite;
    width: calc(300px * 10); /* Adjust based on the number of images and their widths */
}


.slide-track-wrangling {
    display: flex;
    animation: scroll_wrangling 20s linear infinite;
    width: calc(300px * 10); /* Adjust based on the number of images and their widths */
}

.slide-track-viz {
    display: flex;
    animation: scroll_viz 20s linear infinite;
    width: calc(300px * 10); /* Adjust based on the number of images and their widths */
}

.slide-track-applied {
    display: flex;
    animation: scroll_applied 20s linear infinite;
    width: calc(300px * 10); /* Adjust based on the number of images and their widths */
}

.slide-track-ml {
    display: flex;
    animation: scroll_ml 20s linear infinite;
    width: calc(300px * 10); /* Adjust based on the number of images and their widths */
}

.slide-track-dl {
    display: flex;
    animation: scroll_dl 20s linear infinite;
    width: calc(300px * 10); /* Adjust based on the number of images and their widths */
}

.slide-track-cloud {
    display: flex;
    animation: scroll_cloud 20s linear infinite;
    width: calc(300px * 10); /* Adjust based on the number of images and their widths */
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: transparent; /* Change to your desired color */
    width: 250px; /* Adjust based on the width of your images */
    height: 200px;
}

.slide img {
    width: 250px; /* Adjust based on the height of your images */
    height: 200px;
    object-fit: contain;
    object-position: center;
    padding: 0 ;
}

@keyframes scroll_programming {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 21 - (10px * 21))); }
}

@keyframes scroll_wrangling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 8 - (10px * 8))); }
}

@keyframes scroll_viz {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 8 - (10px * 8))); }
}

@keyframes scroll_applied {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 10 - (10px * 8))); }
}

@keyframes scroll_ml {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 8 - (10px * 8))); }
}

@keyframes scroll_dl {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 8 - (10px * 8))); }
}

@keyframes scroll_cloud {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 8 - (10px * 8))); }
}