.hero {
  background-image: url('src/assets/images/hero/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

@font-face {
  font-family: 'Pine Forest';
  src: url('./assets/fonts/Pine Forest.otf') format('opentype');
}

.hero h1, .hero h2, .hero h3 {
  font-family: 'Pine Forest', sans-serif;
  color: whitesmoke;
}

.hero h1 {
  font-size: 8rem;
}

.hero h2 {
  font-size: 3rem;
}

.hero h3 {
  font-size: 2rem;
}