.hero {
  background-image: url('https://i.pinimg.com/originals/5a/4d/4f/5a4d4fc5ed12c3d0cf15b13e59547e75.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}