:root {
    --background-color: #ffffff;
    --primary-color: #78C1F3;
    --secondary-color: #9BE8D8;
    --tertiary-color: #E2F6CA;
    --quaternary-color: #F8FDCF;
    --font-color: #333;
}

body{
    background-color: var(--background-color);
    margin: 0 0;
    padding: 0;
    overflow-x: hidden;
}
