.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-skills {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.bottom-skills {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.skill {
    flex: 1;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}