@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/cooper-hewitt.light.otf') format('opentype');
}

@font-face {
    font-family: 'Pine Forest';
    src: url('../assets/fonts/Pine Forest.otf') format('opentype');
}

.about-me {
    background-color: #10191E;
    padding: 20px 10%;
    width: 100vw;
    color: whitesmoke;
    font-family: 'Cooper Hewitt', sans-serif;
}

.about-me h1 {
    font-size: 2.5em;
    font-family: 'Pine Forest', sans-serif;
    color: #f0f0f0;
}

.about-me ul {
    list-style-type: none;
    margin-left: 20px;
}

.about-me ul li {
    margin-bottom: 10px;
}

.image-container-aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image {
    max-width: 80%;
    max-height: 100%;
}