@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/cooper-hewitt.light.otf') format('opentype');
}

@font-face {
    font-family: 'Nature Impact';
    src: url('../assets/fonts/nature-impact-demo.regular.otf') format('opentype');
}

.about-me-container {
    background-color: var(--background-color);
    color: var(--font-color);
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    height: 100vh;
    font-family: 'Cooper Hewitt', sans-serif;
}

.about-me-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.about-me-text {
    box-sizing: border-box;
}

.about-me-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-image img {
    max-width: 100%; /* Adjust this to control the size of the image */
    object-fit: cover;
}

/* Add this media query for screens smaller than 768px */
@media (max-width: 768px) {
    .about-me-content {
        grid-template-columns: 1fr;
    }

    .about-me-image img {
        max-width: 80%; /* Adjust this to control the size of the image on small screens */
    }
}